html,body{
    height:100%;
    width:100%;
    font-family:'Poppins', sans-serif;
    color:yellow;
    scroll-behavior: smooth;
}
.navbar{
    padding:.8rem;
}
.navbar-nav{
    padding-right:20px;

}
.carousel-caption{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.btn-primary{
    background-color: thistle;
    border:1px solid goldenrod;
}
.btn-primary:hover{
    background-color: thistle;
    border:1px solid goldenrod;
}
.jumbotron{
    padding: 1rem;
    border-radius: 0;
}
.padding{
    padding-bottom: 2rem;
}
.welcome{
    
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top:.3rem ;
    margin-bottom: 1rem;
}
.social a{
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook-square{
    color:#3b5998;

}
.fa-twitter-square{
    color:#00aced;
}
.fa-google-plus-square{
    color: #dd4b39 ;
}
.fa-instagram{
    color:#8a3ab9;
}
.fa-facebook-square:hover,
.fa-google-plus-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover {
    color: grey;
}
footer{
    background-color: #3f3f3f;
    color:#d5d5d5;
    padding-top: 2rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width:75%;
    
    
}

